.logoutBox {
  display: flex;
  gap: 24px;
  align-items: center;

  p {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    background-image: linear-gradient(to top, #3470ff, #0b44cd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }


}

.logoutBoxButton {
  text-transform: uppercase;
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
  background-color: #ed2939;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;

  &:is(:focus, :hover) {
    color: white;
    background-color: #b11226;

  }
}
